.navbar {
  overflow: hidden;
  background-color: #3C3A39;
  position: relative;
  width: 375px;
  height: 92px;
  left: 0px;
  top: 0px;
}
.navbar ul {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  width: 100%;
  align-items: center;
}
.navbar li {
  list-style-type: none;
  padding: 1rem;
}
.navbar a {
  flex: 1; 
}
.navbar-logo {
  flex: 1;
  font-size: 1.5rem;
  user-select: none;
}
.navbar-toggle {
  display: flex;
  text-align: end;
}
.container-fluid {
  background-image: url('./images/illustration-header-mobile.png');
  background-position: right 0 bottom -43px;
  background-repeat: no-repeat;
  background-size: 135px;
  color: #fff;
  padding: 0;
  background-color: #1C1A19;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 590px;
  left: 0px;
  top: 92px;
}
.element {
  display: flex;
  color: dark;
  list-style: none;
  gap: 1.5rem;
  position: absolute;
  padding-top: 1.2rem; 
}
.home {
  color: white;
  display: flex;
  flex: column;
  justify-content: center;
}
.heading {
  color: #ff6b00;
  margin-top: 1.2rem;
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;  
}
.row {
  display: flex;
}
.tags {
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.card-text {
  position: relative;
  width: 327px;
  height: 123px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 24px;
  margin-right: 24px;
}
.card-title {
  color: white;
  width: 327px;
  height: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}
.image {
  display: flex;
  justify-content: end;
}

.text {
  color: black;
}

.button {
  color: white;
  text-align: center;
  margin-top: 2rem;
  background-color: orange;
}

.footer {
  display: flex;
  color: dark;
  justify-content: center;
  list-style: none;
  gap: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .tags {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar ul {
    flex-wrap: wrap;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }
  .element {
    display: flex;
    color: dark;
    list-style: none;
    gap: 1.5rem;
    position: absolute;
    margin-top: 0%;
    
  }
  .footer {
    display: flex;
    color: dark;
    justify-content: center;
    list-style: none;
  }

  .card-text .card-title .element {
    margin-left: 5px;
  }
}
