.index-title { color: blue; }

.row {
  display: flex;
}

.tags {
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

.card-text {
  color: white;
}

.card-title {
  color: white;
}

@media only screen and (max-width: 600px) {
  .tags {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
