
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.home {
  color: white;
  display: flex;
  flex: column;
  justify-content: center;
}

.container-fluid {
  background: dark;
  padding-top: 5;
}

.row {
  display: flex;
}

.tags {
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

.card-text {
  color: white;
}

.card-title {
  color: white;
}

.image-1 {
  display: flex;
  justify-content: end;
  background-position: bottom right;
}

.image {
  display: flex;
  justify-content: end;
}

.footer {
  display: flex;
  color: dark;
  justify-content: center;
  list-style: none;
  gap: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .tags {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer {
    display: flex;
    color: dark;
    justify-content: center;
    list-style: none;
  }
}
